body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes zoom
{
  0% 
  {
    transform: scale(1)
  }
  100%
  {
    transform: scale(1.5)
  }
}

.title 
{
  text-shadow: 6px 6px #515151,
               5px 5px #616161,
               4px 4px #929292,
               3px 3px #a7a6a6,
               2px 2px #cecece,
               1px 1px #ececec;
  font-size: 50px
}

.zoom 
{
  animation: zoom 2s ease-in-out;
}

.imgMaker 
{
  box-shadow : 7px 7px 0 0 #232323;
}

@tailwind base;
@tailwind components;
@tailwind utilities;