body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');


@keyframes zoom
{
  0% 
  {
    transform: scale(1)
  }
  100%
  {
    transform: scale(1.5)
  }
}

@keyframes fade
{
  0% 
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

@keyframes slide
{
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop 
{
  0%
  {
    transform: translateY(-200px);
  } 
  100%
  {
    transform: translateY(0);
  } 
}

@keyframes catch 
{
  0%
  {
    opacity: 0;
    margin-top: 60vh;
  } 
  100%
  {
    opacity: 1;
    margin-top: 20vh;
  } 
}

.title 
{

  text-shadow: 6px 6px #515151,
               5px 5px #616161,
               4px 4px #929292,
               3px 3px #a7a6a6,
               2px 2px #cecece,
               1px 1px #ececec;

}

.subtitle 
{

  text-shadow: 6px 6px #515151,
               5px 5px #616161,
               4px 4px #929292,
               3px 3px #a7a6a6,
               2px 2px #cecece,
               1px 1px #ececec

}

.imgMaker 
{
  
  box-shadow : 7px 7px 0 0 #232323;

}

.bgCar
{

  background-image: url(./Assets/bgCar3.jpg);
  background-size: cover;

}

.filt
{

  filter: invert(74%) sepia(3%) saturate(505%) hue-rotate(341deg) brightness(88%) contrast(89%);

}

.equal-height-carousel {
  display: flex;
  flex-direction: column;
}

.equal-height-carousel .slide {
  flex: 1;
}

.transi svg
{

  position: absolute;
  bottom: 0;

}

.navBtn:hover a p{

  animation: slide 2s infinite linear;
  cursor: pointer;
  
}

.opa 
{

  animation: fade 3s linear;

}

.catch 
{

  animation: catch 1s ease-in-out forwards;

}

.pop
{

  animation: pop 1s ease-in-out;

}

.fade 
{

  animation : fade 1s ease-in-out;

}

.zoom 
{

  animation: zoom 2s ease-in-out;

}

@tailwind base;
@tailwind components;
@tailwind utilities;